[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
django-mysql = "*"
mysqlclient = "*"
dash = "*"
plotly = "*"
djangorestframework = "*"
admin-tools = "*"
django-admin-tools = "*"
django-flatpickr = "*"
pandas = "*"
jason = "*"
matplotlib = "*"
seaborn = "*"
"mysql.connector" = "*"
mysql-connector-python = "*"

[dev-packages]

[requires]
python_version = "3.12.3"
