{% extends 'base.html' %}
{% block title %}Symptoms{% endblock title %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>

@media only screen and (min-width : 400px) {
    .container { max-width: 500px; padding:0px; margin-left: 0px; margin-right: 0px;}
}    

/* .form-container :: {font-size:20px; font-family: sans-serif;} */

.form-check-label{color:rgb(10, 56, 141)}
.form-check{color:darkgreen; scale:2rem;}
.form-check-label{scale:3rem; font-size:18px; margin-bottom: 20px; margin-left: 10px; padding-top:27px;}


::placeholder {
  color: green;
  font-size:15px;
}
.container-fluid { width:100%; overflow-x: hidden;  max-width:none;}
.inputfield {
  
  height: 60px;
  font-size: 25px;
}

/* .container-fluid {   } */
 .checkbox-xl .form-check-input {
 top: 1.4rem;
 scale: 2.4;
 margin-top:26px;    
 margin-right: 0.9rem;
 /* margin-left: 5.9rem; */
 background-color: #d36810;
 border-width: 0px;
 border: #0080ff;
 margin-bottom: 2px;

 
 } 

.checkbox-xl .form-check-label {
 padding-top: 16px;
    font-size:15px;
    background-color: rgb(243, 239, 239);
    margin: 0.1rem 1.5rem 0.5rem ;
 }     

 .form-container {padding:10px; width:380px;border-radius: 20px; background-color: rgb(235, 217, 186); }
              
.btn {font-size:15px; }
.button-group { 
  display:inline-flex;    
  justify-content: space-around; margin-top:20px; position:relative;
}

.d-inline {margin-left: 20px; margin-right:15px; }
    
.logo {align-content: left; margin-left:10px; margin-top:5px;}  
    
.logout{text-align: right; margin-top:-50px; margin-right:5px;}      
    
/* .custom-checkbox-xl .custom-control-label::before,
.custom-checkbox-xl .custom-control-label::after {
  width: 5rem;
  height: 5rem;
  scale: 2.4;
  background-color: #0080ff;
}

.custom-checkbox-xl .custom-control-label {
  margin: .5rem 1rem;
}    */
.input-group-xl {
    
    font-size: 25px; 
}    

.input-group-text {font-size:16px !important; width:24px; font-family:Helvetica Neue, Helvetica, Arial, sans-serif;}
.collapsible {
  background-color: #4070a7;
  color: white;
  cursor: pointer;
  padding: 8px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.active, .collapsible:hover {
  background-color: #555;
}

</style>
    
<form method="POST">
  {% csrf_token %}
    
  <div class=logo>
    <i class="fa fa-circle" style="font-size:18px;color:red"></i>
    <i class="fa fa-circle" style="font-size:18px;color:forestgreen"></i>
    <i class="fa fa-circle" style="font-size:18px;color:#0080ff"></i>
            <h6>top3health</h6>
    
     </div>   
   <div class=logout>
      <a href="/logout"> <img src="{% static 'css/red-logout-land.png' %}" class="rounded float-right" alt="Veggies"></button></a>
      <p class="fs-5 text-center"> {{user.first_name }}</p>
   </div>   
        
    <div class="container-fluid  text-center mx-auto  no-border">
       
    
         
      <h4 class=" text-center">My Cuisines & meals</h4>

        <!-- <div class="ml-3 d-inline-block"> -->
          <!-- <div  class="form-container form-check success-checkbox checkbox-xl ml-6" > -->
          <!-- <div class="custom-control custom-checkbox custom-checkbox-xl">  -->
            <!-- <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
            <label class="custom-control-label" for="customCheck2"></label> -->
            <div class="form-container input-group-xl text-center mx-auto form-check checkbox-xl checkbox-primary  border" >

        <!-- {{ form|crispy}} -->

        <div class="input-group mb-3 input-group-default">
          <span class="input-group-text font-weight-bold">American - US Generic&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          
          <input type="text" name = "US_Generic" id = "ch1" class="form-control"placeholder="Daily, Weekly, Monthly, Avoid" list="veg" >  <datalist id="veg">
            <option value="Once a day">
              <option value="2 times per week">
            <option value="3 times per week">
            <option value="Once a week">
              <option value="Once a month">
            <option value="Rarely">
                <option value="Avoid">
                    </datalist>
           </div>

           <button type="button" class="collapsible">Show meal selections</button>
           <div class="content">
            <p>Lorem ipsum dolor sit amet, aliquip ex ea commodo consequat.</p>
           </div>

           <div class="input-group mb-3 input-group-default">
            <span class="input-group-text font-weight-bold">Chinese&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            
            <input type="text" name = "Burgers" id = "ch1" class="form-control"placeholder="Daily, Weekly, Monthly, Avoid" list="veg" >  <datalist id="veg">
              <option value="Once a day">
                <option value="2 times per week">
              <option value="3 times per week">
              <option value="Once a week">
                <option value="Once a month">
              <option value="Rarely">
                  <option value="Avoid">
                      </datalist>
             </div>

             <div class="input-group mb-3 input-group-default">
              <span class="input-group-text font-weight-bold">Mexican&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              
              <input type="text" name = "French_fries" id = "ch1" class="form-control"placeholder="Daily, Weekly, Monthly, Avoid" list="veg" >  <datalist id="veg">
                <option value="Once a day">
                  <option value="2 times per week">
                <option value="3 times per week">
                <option value="Once a week">
                  <option value="Once a month">
                <option value="Rarely">
                    <option value="Avoid">
                        </datalist>
               </div>

               <div class="input-group mb-3 input-group-default">
                <span class="input-group-text font-weight-bold">Thai&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                
                <input type="text" name = "Milk_shakes" id = "ch1" class="form-control"placeholder="Daily, Weekly, Monthly, Avoid" list="veg" >  <datalist id="veg">
                  <option value="Once a day">
                    <option value="2 times per week">
                  <option value="3 times per week">
                  <option value="Once a week">
                    <option value="Once a month">
                  <option value="Rarely">
                      <option value="Avoid">
                          </datalist>
                 </div>

                 <div class="input-group mb-3 input-group-default">
                  <span class="input-group-text font-weight-bold">Indian&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                  
                  <input type="text" name = "Soft_drinks" id = "ch1" class="form-control"placeholder="Daily, Weekly, Monthly, Avoid" list="veg" >  <datalist id="veg">
                    <option value="Once a day">
                      <option value="2 times per week">
                    <option value="3 times per week">
                    <option value="Once a week">
                      <option value="Once a month">
                    <option value="Rarely">
                        <option value="Avoid">
                            </datalist>
                   </div>

                   <div class="input-group mb-3 input-group-default">
                    <span class="input-group-text font-weight-bold">Italian&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    
                    <input type="text" name = "Fried_foods" id = "ch1" class="form-control"placeholder="Daily, Weekly, Monthly, Avoid" list="veg" >  <datalist id="veg">
                      <option value="Once a day">
                        <option value="2 times per week">
                      <option value="3 times per week">
                      <option value="Once a week">
                        <option value="Once a month">
                      <option value="Rarely">
                          <option value="Avoid">
                              </datalist>
                     </div>

                     <div class="input-group mb-3 input-group-default">
                      <span class="input-group-text font-weight-bold">Vietnamese&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                      
                      <input type="text" name = "Potato_chips" id = "ch1" class="form-control"placeholder="Daily, Weekly, Monthly, Avoid" list="veg" >  <datalist id="veg">
                        <option value="Once a day">
                          <option value="2 times per week">
                        <option value="3 times per week">
                        <option value="Once a week">
                          <option value="Once a month">
                        <option value="Rarely">
                            <option value="Avoid">
                                </datalist>
                       </div>

                       <div class="input-group mb-3 input-group-default">
                        <span class="input-group-text font-weight-bold">Japanese&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        
                        <input type="text" name = "Frozen_pizza" id = "ch1" class="form-control"placeholder="Daily, Weekly, Monthly, Avoid" list="veg" >  <datalist id="veg">
                          <option value="Once a day">
                            <option value="2 times per week">
                          <option value="3 times per week">
                          <option value="Once a week">
                            <option value="Once a month">
                          <option value="Rarely">
                              <option value="Avoid">
                                  </datalist>
                         </div>

                         <!-- <div class="input-group mb-3 input-group-default">
                          <span class="input-group-text font-weight-bold">Regular Pizza&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                          
                          <input type="text" name = "Regular_pizza" id = "ch1" class="form-control"placeholder="Daily, Weekly, Monthly, Avoid" list="veg" >  <datalist id="veg">
                            <option value="Once a day">
                              <option value="2 times per week">
                            <option value="3 times per week">
                            <option value="Once a week">
                              <option value="Once a month">
                            <option value="Rarely">
                                <option value="Avoid">
                                    </datalist>
                           </div> -->

                           <div class="input-group mb-3 input-group-default">
                            <span class="input-group-text font-weight-bold">Mediterranean&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            
                            <input type="text" name = "Pancakes" id = "ch1" class="form-control"placeholder="Daily, Weekly, Monthly, Avoid" list="veg" >  <datalist id="veg">
                              <option value="Once a day">
                                <option value="2 times per week">
                              <option value="3 times per week">
                              <option value="Once a week">
                                <option value="Once a month">
                              <option value="Rarely">
                                  <option value="Avoid">
                                      </datalist>
                             </div>

                            
      </div>  
        
      <div class="button-group mx-auto mb-4 text-center">
        <div class="d-inline gap-2 d-md-block">
          <a href="/landing"><button class="btn btn-warning btn-sm" type="button">Home</button></a>
        </div>   
               
        <div class="d-inline gap-2 d-md-block">
          <a href="/myallergicfoods"></a><button class="btn btn-success btn-sm nowrap" type="submit" >Save & Continue</button></a>
               
          </div>    
          
          <div class="d-inline gap-2 d-md-block span">
  
            <a href="/myallergicfoods"><button class="btn btn-primary btn-sm" type="button">Next</button></a>
            </div> 
          </div>  
          <br>


<!-- </div> -->
        
        <!-- </div> -->
        </div>
</form>

{% endblock content %}