
{% extends 'base.html' %}
{% block title %}Log In{% endblock title %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<style>
.form-container { display:block; margin-top:10px; margin-bottom:-10px; font-size:14px;  width:60%; padding:19px; border-radius:10px; background-color: rgb(227, 231, 226);}
.btn {font-size:12px;  margin-right:15px;}
.button-group { 
  display:inline-flex;   
  justify-content: center; margin-top:10px;  margin-right:10px; position:relative; white-space: nowrap;
}
.form-label {
        font-size: 10px; }/* Reduce font size for labels
</style>
<div class="container-fluid p-2 my-3 no-border h5 text-success"> 
        <div class="logo">
                <i class="fa fa-circle" style="font-size:18px;color:red"></i>
                <i class="fa fa-circle" style="font-size:18px;color:forestgreen"></i>
                <i class="fa fa-circle" style="font-size:18px;color:#0080ff"></i>
                        <h5>top3health</h5>
                     
                    <div class = "text-center">                   
                      <img class ="img-thumbnail border border-0" src="{% static 'css/user(2).png' %}" alt="Hi!" />
                      <br>
                        <h5>Login</h5>
                        <br>
                        </div>
                    
              </div>
              
<form method="post">       
        {% csrf_token %}
        <div class="form-container  mx-auto text-start border"> 
        {{ form|crispy }}
            
            <div class="checkbox text-start">
                
                <label><input type="checkbox"> Remember me</label>
<br>
               
              </div>
              <br>
            <div class="text-center">
        <button class="btn btn-success text-center btn-lg mx-auto " type="submit">Log In</button>
</div>

 <div class="text-end">
        <a href="{% url 'signup' %}" class="btn btn-primary text-end btn-sm">Sign up</a>
      
      
</div>
      </div>       
              
             <div class="button-group space-around  mt-n3 mx-auto" >                                     
                        

                <button type="submit" class="btn btn-danger text-start mb-5  btn-sm">Cancel</button>

                  
                </div>  
               
</form>
<span class="psw fs-6">&nbsp;Forgot <a href="#">password?</a>   

</div>

{% endblock content %}