{% extends 'base.html' %}
{% block title %}Goals{% endblock title %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<style>
@media only screen and (min-width : 400px) {
    .container { max-width: 600px; background-color: #e8f5c5;}
}



.container-fluid { width:450px;}
.form-container {    padding:25px;border-radius:30px;   background-color: rgb(211, 217, 224);}


/* .checkbox-xl .form-check-input {
 top: 1.6rem;
 scale: 1.2;
 margin-top:18px;  
 margin-right: 10px;
 margin-left: 5px;
 margin-bottom: 0px;
 padding-top:15px;
 }

/* .checkbox-xl .form-check-label {
 padding-top: 0px;
    font-size:18px;
    margin-left: 10px;
    margin-top:14px;
    margin-right:10px;
    width:230px;
    align-content: center;
 }  */ */

 .checkbox-xl .form-check-input {
 /* top: 1.6rem; */
 scale: 1.2;
 margin-top:22px;  
 margin-right: 10px;
 margin-left: 15px;
 margin-bottom: 0px;
 padding-top:19px;
 }

.checkbox-xl .form-check-label {
 padding-top: 0px;
    font-size:18px;
    margin-left: 10px;
    margin-top:-4px;
    margin-right:10px;
    width:230px;
    align-content: center;
 } 

 .form-control {width:200px;}

.btn {font-size:16px; margin-left:12px;}
.button-group { 
  display:inline-flex; align-items:center; margin-left:30px; padding:0px; 
  justify-content: center; margin-top:0px; position:relative; white-space: nowrap;
}

.d-inline {margin-left: 15px; margin-right:20px;}
.input-group-text {font-size: 15px; width:145px;}
    
.logo {align-content: left; margin-left:10px; margin-top:10px;}  
    
/* .logout{align-content: right; text-align: right; margin-top:-60px; margin-right:5px; }  */
.logout{text-align: right; margin-top:-60px; margin-right:-90px;}

</style>

    <form method="POST">
      {% csrf_token %}
      <div class=logo>
        <i class="fa fa-circle" style="font-size:18px;color:red"></i>
        <i class="fa fa-circle" style="font-size:18px;color:forestgreen"></i>
        <i class="fa fa-circle" style="font-size:18px;color:#0080ff"></i>
                <h5> top3health</h5>
                </div>
                
    <div class="container-fluid  mx-auto text-center  no-border">

     
   
       
        <div class="logout text-end">
          <a href="/logout"> <img src="{% static 'css/red-logout-land.png' %}" class="rounded float-right" alt="Veggies"></button></a>
          <p class="fs-5 text-center"> {{user.first_name }}</p>
         </div>
         <br>
         <h5 class=" text-center ">Major Symptoms - Update</h5>
 
         <br>
    <div class="form-container  mx-auto  text-center border" >
    <!-- {{ form|crispy }} -->
             
    <div class="form-check checkbox-xl mb-3">
      <input type="checkbox" class="form-check-input ml-4 space-around" id="check1" name="Cardiovascular_CVD" value="something" checked>
      <label class="form-check-label text-left" for="check1">Cardiovascular_CVD</label>
      </div>

      <div class="form-check checkbox-xl mb-3 space-around">
        <input type="checkbox" class="form-check-input ml-4" id="check2" name="Obesity" value="something1">
        <label class="form-check-label text-left" for="checkbox-2">Obesity</label>
        </div>
        
        <div class="form-check checkbox-xl mb-3 space-around">
        <input type="checkbox" class="form-check-input ml-4" id="check3" name="Hypothyroid" value="something2">
        <label class="form-check-label text-left">Hypothyroid</label>
        </div>
           
        <div class="form-check checkbox-xl mb-3 space-around">
        <input type="checkbox" class="form-check-input ml-4" id="check4" name="Hyperthyroid" value="something3" checked>
        <label class="form-check-label text-left" for="check1">Hyperthyroid</label>
        </div>
          
        <div class="form-check checkbox-xl mb-3 space-around">
        <input type="checkbox" class="form-check-input ml-4" id="check5" name="Arthritis" value="something4">
        <label class="form-check-label text-left" for="checkbox-2">Arthritis</label>
        </div>

        <div class="form-check checkbox-xl mb-2 ml-4 space-around">
          <input type="checkbox" class="form-check-input " id="check6" name="Pre_Diabetes" >
          <label class="form-check-label text-start">Pre-Diabetes</label>
          </div>
        
        <div class="form-check checkbox-xl mb-3 space-around">
        <input type="checkbox" class="form-check-input ml-4" id="check6" name="Diabetes" value="something5">
        <label class="form-check-label text-left">Diabetes</label>
        </div>   

        <div class="form-check checkbox-xl mb-2 ml-4 space-around">
          <input type="checkbox" class="form-check-input " id="check6" name="BP" >
          <label class="form-check-label text-start">High Blood pressure</label>
          </div> 
           
        <div class="form-check checkbox-xl mb-3 space-around">
        <input type="checkbox" class="form-check-input ml-4" id="check1" name="Cancer" value="something6" checked>
        <label class="form-check-label text-left" for="check1">Cancer</label>
        </div>
          
        <div class="form-check checkbox-xl mb-3 space-around">
        <input type="checkbox" class="form-check-input ml-4" id="check9" name="Alzheimers" value="something7">
        <label class="form-check-label text-left" for="checkbox-2">Alzheimers'</label>
        </div>
        
        <div class="form-check checkbox-xl mb-3 space-around">
        <input type="checkbox" class="form-check-input ml-4" id="check2" name="Osteoporosis" value="something8">
        <label class="form-check-label  text-left">Osteoporosis</label>
        </div>   
           
        <div class="form-check checkbox-xl mb-3 space-around">
        <input type="checkbox" class="form-check-input ml-4" id="check10" name="Fibromyalgia" value="something9" checked>
        <label class="form-check-label text-left" for="check1">Fibromyalgia</label>
        </div>
          
       
<br>  

<h6 class="display-7   font-weight-bold">My major Symptoms-not covered above</h6>
       
<br> 

<div class="ml-4  text-center ">   

<div class="input-group mb-4    input-group-sm">
<span class="input-group-text font-weight-bold">Major Symptom 1</span>
<input type="text" class="form-control mr-5 text-center" placeholder="Symptom 1">
</div>   
  
<div class="input-group mb-4 input-group-sm">
<span class="input-group-text font-weight-bold">Major Symptom 2</span>
<input type="text" class="form-control mr-5 text-center" placeholder="Symptom 2">
</div>        
</div>


</div> 
<br>
<div class="d-inline  gap-2 d-md-block">
    <a href="/landing"><button class="btn btn-warning btn-sm mr-3" type="button">Home</button></a>
</div> 

<div class="d-inline gap-2 d-md-block">
    <a href="/settings"><button class="btn btn-warning btn-sm mr-3" type="submit">Update</button></a>
  <!-- <button class="btn btn-success btn-sm" type="submit" >Update</button> -->
  </div>
  
  <div class="d-inline gap-2 d-md-block ">
    <a href="/settings"><button class="btn btn-warning btn-sm mr-3" type="button">Back</button></a>
    </div>

</div> 
       <br>
  </div> 
    
        </form>

{% endblock content %}