{% extends 'base.html' %}
{% block title %}Minor Symptoms{% endblock title %}

{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<style>
@media only screen and (min-width : 400px) {
    .container { max-width: 600px;  background-color: #0080ff;}
}



.container-fluid { height:85vh;width:auto; }
.form-container { width: 605px; padding:20px;border-radius:30px; background-color: rgb(211, 218, 224);}
.form-container2 { width: 525px; padding:20px;border-radius:30px; background-color: rgb(212, 224, 211);}


.checkbox-xl .form-check-input {
 /* top: 1.6rem; */
 scale: 1.2;
 margin-top:8px;  
 margin-right: 10px;
 margin-left: 5px;
 margin-bottom: 0px;
 padding-top:10px;
 }

.checkbox-xl .form-check-label {
 padding-top: 0px;
    font-size:10px;
    margin-left: 10px;
    margin-top:7px;
    margin-right:10px;
    width:220px;
    align-content: center;
 } 

 .form-control {width:200px; font-size:8px;}

.btn {font-size:15px; }
.button-group { 
  display:inline-flex; align-items:center;  padding:0px; 
  justify-content: center; margin-top:90px; position:relative; white-space: nowrap;
}

.d-inline {margin-left: 50px; margin-right:0px;}
.input-group-text {font-size: 5px; width:140px;}
    
.logo {align-content: left; margin-left:10px; margin-top:5px;}  
    
.logout{align-content: right; text-align: right; margin-top:-50px; margin-right:5px; }    

.placeholder {font-size:6px;}



</style>

    <form method="POST">
      {% csrf_token %}
     
      <div class=logo>
        <i class="fa fa-circle" style="font-size:18px;color:red"></i>
        <i class="fa fa-circle" style="font-size:18px;color:forestgreen"></i>
        <i class="fa fa-circle" style="font-size:18px;color:#0080ff"></i>
                <h6> top3health</h6>
               
                </div>

                <!-- <div class="logout text-end">
                  <a href="/logout"> <img src="{% static 'css/red-logout-land.png' %}" class="rounded float-right" alt="Veggies"></button></a>
                  <p class="fs-5 text-center"> {{user.first_name }}</p>
                 </div> -->
             
                
      <div class="container-fluid   mx-auto text-center  no-border">
 
  
        <h6 class="text-center ">My Monthly Expenses - Update</h6>
        <br>
        
       
                
      

<div class="form-container2 mx-auto form-check   text-center border" >

  <div class="input-group mb-1 input-group-sm">
    <span style="font-size:12px;" class="input-group-text fw-bold" readonly="readonly">Monthly cost types</span>
    <input type="text" style="font-size:12px;" class="form-control text-center fw-bold" readonly="readonly" placeholder="Family members count" >
    <input type="text" style="font-size:12px;" class="form-control text-center fw-bold" readonly="readonly" placeholder="Total premium cost" >
    
     </div>

    <div class="input-group mb-2 input-group-sm">
        <span class="input-group-text font-weight-bold">Health Insurance<br>Premium cost</span>
        <input type="text" style="font-size:10px;" class="form-control text-center" name="family_premium_count" placeholder="Number of family members" value="{{myexpenses.family_premium_count}}">
        <input type="text" style="font-size:10px;" class="form-control text-center" name="insurance_premium" placeholder="Total premium cost" value="{{myexpenses.insurance_premium}}">
        
         </div>    
              
         <div class="input-group mb-2 input-group-sm">
        <span class="input-group-text font-weight-bold">Doctor's office<br>visit cost&nbsp;&nbsp;&nbsp;</span>
        <input type="text" style="font-size:10px;" class="form-control text-center" name="members_for_office_visit" placeholder="Number of family members" value="{{myexpenses.members_for_office_visit}}">
        <input type="text" style="font-size:10px;" class="form-control text-center" name="office_visit_cost" placeholder="Total office visit cost" value="{{myexpenses.office_visit_cost}}">
        
         </div> 
              
          <div class="input-group mb-2 input-group-sm">
        <span class="input-group-text text-left font-weight-bold">Prescriptions & <br>Supplements&nbsp;&nbsp;&nbsp;</span>
        <input type="text" style="font-size:10px;" class="form-control text-center" name="members_for_prescriptions" placeholder="Number of family members" value="{{myexpenses.members_for_prescriptions}}">
        <input type="text" style="font-size:10px;" class="form-control text-center" name="prescription_cost" placeholder="Total Prescriptions cost" value="{{myexpenses.prescription_cost}}">
        
         </div> 

         <div class="input-group mb-2 input-group-sm">
          <span class="input-group-text text-left font-weight-bold">Out of pocket<br>medical expenses</span>
          <input type="text" style="font-size:10px;" class="form-control text-center" name="members_for_oop" placeholder="Number of family members" value="{{myexpenses.members_for_oop}}">
          <input type="text" style="font-size:10px;" class="form-control text-center" name="oop_cost" placeholder="Total OOP cost" value="{{myexpenses.oop_cost}}">
          
           </div> 

           <div class="input-group mb-1 input-group-sm">
            <span class="input-group-text text-left font-weight-bold">Gym & fitness cost&nbsp;&nbsp;&nbsp;</span>
            <input type="text" style="font-size:10px;" class="form-control text-center" name="members_for_gym" placeholder="Number of family members" value="{{myexpenses.members_for_gym}}">
            <input type="text" style="font-size:10px;" class="form-control text-center" name="gym_cost" placeholder="Total gym cost" value="{{myexpenses.gym_cost}}">
            
             </div> 
                      
       </div>        

<div class="button-group mx-auto mt-5 mb-3 text-center">
    <div class="d-inline  ">
      <a href="/landing"><button class="btn btn-warning btn-sm" type="button">Home</button></a>
    </div>   
           
    <div class="d-inline  ">
      <a href="/landing"></a><button class="btn btn-success btn-sm nowrap" type="submit" >Update</button></a>
           
      </div>  
    </div>
  
    
        </form>
        
{% endblock content %}